.skills-section {
  padding: 60px 20px;
  text-align: center;
}

.skills-title {
  margin-top: 50px;
   font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-bottom: 40px;
    position: relative;
    display: inline-block;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;  
}

.skills-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background-color: #00bfff;
  border-radius: 5px;
  margin: 10px auto 0;
}
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.skill-category {
  background-color: #111827;
  border-radius: 15px;
  padding: 25px 30px;
  width: 280px;
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-category:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 30px rgba(0, 255, 255, 0.2);
}

.skill-category h3 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
}

.skill-category ul {
  list-style: none;
  padding: 0;
}

.skill-category li {
  font-size: 16px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.dot {
  color: #00ffff;
  font-weight: bold;
  margin-right: 10px;
}
